In [3]:
# Dependancies
import pandas as pd
import os
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from sqlalchemy import func
import warnings
warnings.filterwarnings('ignore')
from config import db_pass
import pymysql
from functools import reduce
from sqlalchemy import Column, Integer, String, Float
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'config'

In [4]:
file = "db/leads_updated.csv"
df = pd.read_csv(file)
df.head(2)

,ConsumerID,Zip,latitude,longitude,Audience Count,City,State,Address,Country,Gender,...,Occupation,DwellingType,WorkingWoman,GreenLiving,CreditScore,#Kids,#Adults,AGEBIN,Household Income,Email Address
0,1,75253.0,32.67,-96.61,1,Dallas,TX,Texas,US,Female,...,Unknown,02. Multiple Family Dwelling Unit,02. Unknown,02. Unknown,02. Less Stable,Unknown,1 Adult,18-25,20. Unknown,xxx@gmail.com
1,2,19147.0,39.94,-75.15,1,Philadelphia,PA,Pennsylvania,US,Male,...,Unknown,01. Single Family Dwelling Unit,02. Unknown,02. Unknown,01. Least Stable,1 Kid,1 Adult,41-60,"05. $25,000 - $29,999",xxx@gmail.com

In [ ]:
# Establish the connection 
rds_connection_string = f"root:{db_pass}@127.0.0.1/new_leads_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')