In [7]:
import os
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [8]:
file = "db/leadsCSV.csv"
df = pd.read_csv(file)
df.head()

,Audience Count,Consumer ID,City,State,Address,Country,Zip,Gender,Age,Marital Status,...,Working Woman,Green Living,Credit Score,# of Kids,# of Adults,AGE BIN,City_State_Country,Zip_Country,Household Income,Email Address
0,1,1,Dallas,TX,Texas,US,75253.0,Female,-1,Single,...,02. Unknown,02. Unknown,02. Less Stable,Unknown,1 Adult,18-25,"Dallas, Texas, United States","75253, United States",20. Unknown,xxx@gmail.com
1,1,2,Philadelphia,PA,Pennsylvania,US,19147.0,Male,60,Inferred Married,...,02. Unknown,02. Unknown,01. Least Stable,1 Kid,1 Adult,41-60,"Philadelphia, Pennsylvania, United States","19147, United States","05. $25,000 - $29,999",xxx@gmail.com
2,1,3,North Fort Myers,FL,Florida,US,33903.0,Male,68,Married,...,02. Unknown,01. True,01. Least Stable,Unknown,2 Adults,61+,"North Fort Myers, Florida, United States","33903, United States","05. $25,000 - $29,999",xxx@gmail.com
3,1,4,Pelham,AL,Alabama,US,35124.0,Male,24,Single,...,02. Unknown,02. Unknown,03. Stable,1 Kid,3 Adults,18-25,"Pelham, Alabama, United States","35124, United States","13. $65,000 - $74,999",xxx@gmail.com
4,1,5,Brooklyn,NY,New York,US,11208.0,Female,34,Single,...,02. Unknown,02. Unknown,03. Stable,2 Kids,1 Adult,26-40,"Brooklyn, New York, United States","11208, United States","02. $10,000 - $14,999",xxx@gmail.com