In [11]:
import os
import csv
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import sqlite3

In [12]:
file = "db/leads_updated.csv"
df = pd.read_csv(file)
df.head(2)

,ConsumerID,Zip,latitude,longitude,Audience Count,City,State,Address,Country,Gender,...,Occupation,DwellingType,WorkingWoman,GreenLiving,CreditScore,#Kids,#Adults,AGEBIN,Household Income,Email Address
0,1,75253.0,32.67,-96.61,1,Dallas,TX,Texas,US,Female,...,Unknown,02. Multiple Family Dwelling Unit,02. Unknown,02. Unknown,02. Less Stable,Unknown,1 Adult,18-25,20. Unknown,xxx@gmail.com
1,2,19147.0,39.94,-75.15,1,Philadelphia,PA,Pennsylvania,US,Male,...,Unknown,01. Single Family Dwelling Unit,02. Unknown,02. Unknown,01. Least Stable,1 Kid,1 Adult,41-60,"05. $25,000 - $29,999",xxx@gmail.com

In [21]:
new_df = df.rename(index=str, columns={"#Kids": "Kids", "#Adults": "Adults"})

In [22]:
list(new_df)

['ConsumerID',
 'Zip',
 'latitude',
 'longitude',
 'Audience Count',
 'City',
 'State',
 'Address',
 'Country',
 'Gender',
 'Age',
 'MaritalStatus',
 'Education',
 'EthnicGroup',
 'EmploymentStatus',
 'HispanicIndicator',
 'email_ind',
 'phn_ind',
 'postal_ind',
 'digital_ind',
 'Occupation',
 'DwellingType',
 'WorkingWoman',
 'GreenLiving',
 'CreditScore',
 'Kids',
 'Adults',
 'AGEBIN',
 'Household Income',
 'Email Address']

In [25]:
con = sqlite3.connect(":memory:")
cur = con.cursor()
cur.execute("CREATE TABLE updated_leads (ConsumerID, Zip, latitude, longitude, Audience Count, City, State, Address, Country, Gender, Age, MaritalStatus, Education, EthnicGroup, EmploymentStatus, HispanicIndicator, email_ind, phn_ind, postal_ind, digital_ind, Occupation, DwellingType, WorkingWoman, GreenLiving, CreditScore, Kids, Adults, AGEBIN, Household Income, Email Address)");

In [26]:
with open('db/leads_updated.csv','rt') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['ConsumerID'], i['Zip'], i['latitude'], i['longitude'], i['Audience Count'], i['City'], i['State'], i['Address'], i['Country'], i['Gender'], i['Age'], i['MaritalStatus'], i['Education'], i['EthnicGroup'], i['EmploymentStatus'], i['HispanicIndicator'], i['email_ind'], i['phn_ind'], i['postal_ind'], i['digital_ind'], i['Occupation'], i['DwellingType'], i['WorkingWoman'], i['GreenLiving'], i['CreditScore'], i['Kids'], i['Adults'], i['AGEBIN'], i['Household Income'], i['Email Address']) for i in dr]

cur.executemany("INSERT INTO updated_leads (ConsumerID, Zip, latitude, longitude, Audience Count, City, State, Address, Country, Gender, Age, MaritalStatus, Education, EthnicGroup, EmploymentStatus, HispanicIndicator, email_ind, phn_ind, postal_ind, digital_ind, Occupation, DwellingType, WorkingWoman, GreenLiving, CreditScore, Kids, Adults, AGEBIN, Household Income, Email Address) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", to_db)
con.commit()
con.close()

Error: iterator should return strings, not bytes (did you open the file in text mode?)